.footer {
  background-color: #FFFFFF; /* White Background */
  color: #333333; /* Dark Gray Text */
  padding: 2rem 0;
  border-top: 1px solid #DEE2E6; /* Light Gray Border */
  text-align: center;
  margin-top: auto;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-container p {
    margin: 0;
}
